# Google
GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx
GOOGLE_REFRESH_TOKEN=xxx
GOOGLE_CALENDAR_ID=primary

# LINE WORKS
LW_CLIENT_ID=xxx
LW_CLIENT_SECRET=xxx
LW_REFRESH_TOKEN=xxx
LW_BOT_ID=xxx
LW_CHANNEL_ID=xxx
LW_CALENDAR_ID=xxx
LW_WEBHOOK_SECRET=xxx

# System
SYNC_USER_ID=yoshida
FIRESTORE_PROJECT_ID=xxx
ADMIN_API_KEY=xxx
PORT=8080
